
.x_card {
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-between;
}

.x_card__info {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.x_card__image {
    width: 3.5rem;
    border-radius: 2rem;
}

.x_card__text {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.x_card__name {
    color: white;
}

.x_card__username {
    color: grey;
}

.x_card__follow {
    border-radius: 1rem;
	cursor: pointer;
    border: 0px;
    width: 5rem;
    height: 2rem;
    font-family: system-ui;
    font-weight: bold;
}

.x_card__follow--following {
	border: 1px solid lightgray;
	background: transparent;
	color: white;
	width: 120px;
}

.x_card__follow:hover {
	background-color: lightgray;
}

.x_card__follow--following:hover {
	border: 1px solid red;
	color: red;
	background-color: transparent;
}

.x_card__follow--following:hover .x_card__stopFollow {
	display: block;
}

.x_card__follow--following:hover .x_card__text {
	display: none;
}

.x_card__stopFollow {
	display: none;
}